{% extends 'index.html' %}
{% block title %} New Post{% endblock %}
{% block content %}
{% load static %}
<div class="container custom-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#"> Navbar</a>

            <ul class="navbar-nav mr-auto ">
               
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'new_post' %}">New Post</a>
                      <a class="dropdown-item" href="{% url 'home' %}">My Posts</a>
                      <a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a>
                    </div>
                  </div>
            </form>
        </div>

    </nav>
    <form method="post">
        {% csrf_token %}
        <div class="container custom-container " style="max-width: 1250px;">
            <br><br>
            <h1 class="fw-bolder"> Make a New Post.</h1>
            <hr><br>
            <div class="mb-3">
                <h3><label for="exampleInputEmail1" class="form-label">Heading/Title</label></h3>
                <input type="text" class="form-control" id="exampleInputText" aria-describedby="emailHelp" name="title">
            </div>
            <div class="form-group">
                <h3><label for="exampleFormControlTextarea3">Content</label></h3>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" name="content"></textarea>
            </div>
            <br>
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </form>
</div>


{% endblock %}